* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#wrapper {
  background-color: black;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
}


nav {
  grid-column: 1/2;
  grid-row: 1/-1;

}

li {
  list-style-type: initial;
  margin: 25% 0% 0% 5%
}


a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 2px
}


img {
  width: 60%;
  grid-column: 3/4;
  grid-row: 3/-1;
}



.speech-bubble {
  position: absolute;
  background: #00aabb;
  border-radius: .4em;
  top: 38%;
  left: 36%;padding: 1%
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
h1{}